/*====================================================== Home Page Styles =========================================================================================*/
/*---- Header section styles ----------*/
.header__wrapper {
  background-color: rgba(0, 153, 219, 0.1);
}
.header__wrapper .container__wraper {
  padding-top: 7rem;
}
.header__wrapper .h1 {
  line-height: 1;
}
.header__wrapper .hero {
  opacity: 1;
}
.header__wrapper .rope__two {
  left: -268px;
  top: -13px;
  opacity: 0.4;
  mix-blend-mode: luminosity;
  pointer-events: none;
}
.header__wrapper .rope {
  right: 0;
  bottom: -8px;
  opacity: 0.4;
  pointer-events: none;
  mix-blend-mode: luminosity;
}

@media (min-width: 992px) {
  .header__wrapper .title {
    width: calc(100% + 5rem);
  }
}
@media (max-width: 991px) {
  .header__wrapper .container__wraper {
    padding: 5rem 0rem;
  }
}
@media (max-width: 575px) {
  .header__wrapper .display-4 {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  .header__wrapper .container__wraper {
    margin-top: 4.9rem;
  }
}
@media (max-width: 575px) {
  .lead {
    font-size: 1rem !important;
    line-height: 1.2;
    margin-bottom: 0.5rem !important;
  }
}
.servicesCarousel .owl-stage-outer {
  height: calc(100% + 20px);
  margin: -7px;
  padding: 7px;
  width: calc(100% + 20px);
}

.service__card {
  border: 1px solid rgba(112, 112, 112, 0.1);
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.0980392157);
  border-radius: 25px;
  margin-bottom: 0.75rem;
}
.service__card .title__box {
  min-height: 16.562rem;
}
.service__card .title {
  min-height: 3rem;
}
.service__card .desc {
  max-height: 15rem;
  overflow-y: auto;
}

.servicesCarousel .owl-stage {
  display: flex;
}
.servicesCarousel .owl-stage .owl-item {
  display: flex;
}

.feather__caring .patient__thumb {
  width: 4.75rem;
  height: 4.75rem;
}
.feather__caring .circle {
  width: 4.75rem;
  height: 4.75rem;
  border: 1px solid #707070;
  background-color: #fff;
  border-radius: 50%;
}
.feather__caring .circle__1 {
  top: 1.5rem;
  left: 0;
  z-index: 0;
}
.feather__caring .circle__2 {
  top: 1.5rem;
  left: 58px;
  z-index: 1;
}
.feather__caring .circle__3 {
  top: 1.5rem;
  left: 117px;
  z-index: 2;
}
.feather__caring .border_right {
  height: 4.5rem;
  border: 1px solid #707070;
  left: 13.6rem;
  top: 1.62rem;
}
.feather__caring .content__position {
  left: 15.37rem;
  top: 2.62rem;
}
.feather__caring .care__card {
  border: 1px solid #707070;
  border-radius: 38px;
  overflow: hidden;
}

.blog__wraper .blog__card {
  background-color: #fff;
  border: 1px solid #C4C4C4;
}
.blog__wraper .blog__card .title a {
  color: var(--primary);
}
.blog__wraper .blog__card .title a:hover {
  text-decoration: underline;
  color: var(--dark);
}

.plaholder__testi .position__img {
  min-height: 40rem;
  border-radius: 2.68rem;
}
.plaholder__testi .position__img .testi__box {
  border-radius: 2.68rem;
  padding: 37px 44px 48px 47px;
}
.plaholder__testi .position__img .testi__box .author__box img {
  width: 6rem;
  height: 6rem;
}

@media (max-width: 575px) {
  .plaholder__testi .position__img .testi__box {
    border-radius: 2.68rem;
    padding: 20px 15px 28px 15px;
  }
  .plaholder__testi .position__img .testi__box .author__box img {
    width: 5rem;
    height: 5rem;
  }
}
.testimonialSlider .owl-dots {
  text-align: left;
}
.testimonialSlider .owl-dots .owl-dot {
  border: 1px solid var(--white) !important;
  background-color: var(--white) !important;
}
.testimonialSlider .owl-dots .owl-dot.active {
  width: 60px;
  background-color: var(--white) !important;
  border-color: var(--white) !important;
  border-radius: 1rem !important;
}

.accordion .accordion-item {
  background-color: rgba(13, 103, 153, 0.0901960784);
  border-radius: 43px !important;
}
.accordion .accordion-item:not(:last-child) {
  margin-bottom: 1.45rem;
}
.accordion .accordion-item .accordion-header {
  background-color: none !important;
}
.accordion .accordion-item .accordion-button {
  border: 0;
  box-shadow: none !important;
  min-height: 5rem;
  border-radius: 43px !important;
  background-color: rgba(59, 170, 226, 0.1);
  font-size: 1.15rem;
  font-weight: 500;
  padding: 0rem 2rem;
}
.accordion .accordion-item .accordion-button:not(.collapsed) {
  color: var(--dark);
  box-shadow: none !important;
  background-color: transparent;
}
.accordion .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: none;
}
.accordion .accordion-item .accordion-button::after {
  background-image: none;
}
.accordion .accordion-item .accordion-body {
  padding: 0 2rem 1.5rem;
}
.accordion .accordion-item .accordion-body p:last-child {
  margin-bottom: 0;
}

.feather__card {
  padding: 2.35rem 1.75rem;
  border: 1px solid #707070;
  border-radius: 1.5rem;
  transition: all 0.5s ease-in-out;
}
.feather__card:hover {
  background-color: rgba(13, 103, 153, 0.0901960784);
}

.owl-dots {
  text-align: center;
  padding-top: 0.5rem;
}
.owl-dots .owl-dot {
  width: 13px;
  height: 13px;
  border: 1px solid var(--brand) !important;
  border-radius: 50% !important;
  margin: 4px;
  background-color: var(--brand) !important;
}
.owl-dots .owl-dot.active {
  width: 60px;
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
  border-radius: 1rem !important;
}

.top__title {
  color: #383838;
  font-size: 2.25rem !important;
}

.map {
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: #ccc;
  max-height: 27rem;
}
.map::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0px;
}

.galleryItem {
  position: relative;
}
.galleryItem::after {
  content: "";
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: var(--eye) no-repeat center center/2rem;
  background-color: rgba(0, 0, 0, 0.7098039216);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.galleryItem:hover::after {
  opacity: 1;
  visibility: visible;
}

.services__offered__wraper .services__offered__box {
  padding: 3.5rem 2.25rem;
  border: 1px solid #707070;
  transition: all 0.5s ease-in-out;
}
.services__offered__wraper .services__offered__box h3 {
  color: #2C2C2C;
}
.services__offered__wraper .services__offered__box p {
  color: #2C2C2C;
}
.services__offered__wraper .services__offered__box .title__mini__box {
  height: 3.25rem;
}
.services__offered__wraper .services__offered__box .mini__text {
  height: calc(100% - 3.25rem);
}
.services__offered__wraper .services__offered__box:hover {
  background-color: var(--brand);
}
.services__offered__wraper .services__offered__box:hover h3 {
  color: var(--white);
}
.services__offered__wraper .services__offered__box:hover p {
  color: var(--white);
}

@media (max-width: 575px) {
  .services__offered__wraper .services__offered__box {
    padding: 1.5rem 1.25rem;
  }
}
.contact__wrapper .form-control, .contact__wrapper .form-select {
  height: 3.25rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border: 1px solid #CBCBCB;
  border-radius: 12px;
  font-weight: 500;
  padding-left: 1.125rem;
  background-color: #FFFFFF;
}
.contact__wrapper .form-control::-moz-placeholder, .contact__wrapper .form-select::-moz-placeholder {
  color: rgba(51, 51, 51, 0.2);
}
.contact__wrapper .form-control::placeholder, .contact__wrapper .form-select::placeholder {
  color: rgba(51, 51, 51, 0.2);
}
.contact__wrapper textarea.form-control {
  height: auto;
  padding-top: 1rem;
}
.contact__wrapper .btn-primary {
  background-color: var(--brand);
  border-color: var(--brand);
  border-width: 2px;
  font-size: 1.25rem;
  min-height: 3.5rem;
}
.contact__wrapper .btn-primary:hover {
  color: #019E57;
  background-color: transparent;
}

.error {
  padding-top: 0.25rem;
}/*# sourceMappingURL=style.css.map */