
  
/*---- Header section styles ----------*/
.header__wrapper { 
    // min-height:calc(100vh - 89px);
    background-color: rgba(0, 153, 219, 0.1);
    margin-top: -5.562rem;
    
    .container__wraper{
        margin-top: 5.562rem;
    }


    .h1 {
        line-height: 1;
    }

    .hero{
       
        opacity: 1;
    }
    .rope__two{
        left: -268px;
        top: -13px;
        opacity: 0.4;
    }
    .rope{
        right: 121px;
        bottom: -8px;
        opacity: 0.4;
    }
}

// @media (max-width:1399px) {
//     .header__wrapper {
//         min-height: 550px;
//     }
// }

@media (max-width:575px) {
    .header__wrapper {
        .display-4 { font-size: 1.5rem;line-height: 1.2; }
        
    }
}
@media (max-width:575px) {
   
    .fs-2, .fs-3 { font-size: 1.25rem !important;line-height: 1.2; } 
    .lead { font-size: 1rem !important;line-height: 1.2; 
                margin-bottom: .5rem !important;
    } 
} 
 
@media (max-width:575px) {
    .fs-1{
        font-size: 1.5rem !important;
         
    } 

}
 

.service__card{
    border: 1px solid rgba(112, 112, 112, 0.1);
    box-shadow: 0px 6px 9px #00000029;
    border-radius: 25px;
    margin-bottom: .75rem;
    .title__box{
        min-height: 16.562rem;
    } 
}

.feather__caring{
    .circle__1{
        width: 4.75rem;
        height: 4.75rem;
        border: 1px solid #707070;
        background-color: #fff;
        border-radius: 50%;
        top: 1.5rem; 
        left: 0;
        z-index: 0;
    }
    .circle__2{
        width: 4.75rem;
        height: 4.75rem;
        border: 1px solid #707070;
        background-color: #fff;
        border-radius: 50%;
        top: 1.5rem;
        left: 58px;
        z-index: 1;
        
    }
    .circle__3{
        width: 4.75rem;
        height: 4.75rem;
        border: 1px solid #707070;
        background-color: #fff;
        border-radius: 50%;
        top: 1.5rem;
        left: 117px;
        z-index: 2;
        
    }
    .border_right{
        height: 4.5rem;
        border: 1px solid #707070; 
        left: 13.6rem;
        top: 1.62rem;
    }
    .content__position{
        left: 15.37rem;
        top: 2.62rem;
    }
    .care__card{
        border: 1px solid #707070;
        border-radius: 38px;
        overflow: hidden;
    }
}

.blog__wraper{
    .blog__card{
        background-color: #fff;
        border: 1px solid #C4C4C4;
    }
}


.plaholder__testi{

    .position__img{
        min-height: 40rem;
       
        border-radius: 2.68rem;
        .testi__box{
            border-radius: 2.68rem;
            padding: 37px 44px 48px 47px;
        } 
    }
}
 

















// .courseCarousel {
//     .owl-stage { 
//         display: flex;
//         .owl-item{
//             display: flex;
//         }
//     }
// }
 
// .owl-dots {
//     text-align: center;padding-top: .5rem;
//     .owl-dot {
//         width: 13px;height: 13px;border: 1px solid var(--brand) !important;border-radius: 50% !important;
//         margin: 4px;background-color: var(--brand) !important;

//         &.active {
//             width: 60px;
//             background-color: var(--secondary) !important;border-color: var(--secondary) !important;
//             border-radius: 1rem !important;
//         }
//     }
// }
 