
  
/*---- Header section styles ----------*/
.header__wrapper { 
    // min-height:calc(100vh - 89px);
    background-color: rgba(0, 153, 219, 0.1);

    .container__wraper { padding-top: 7rem; }
  
    .h1 {
        line-height: 1;
    }

    .hero{
       
        opacity: 1;
    }
    .rope__two{
        left: -268px;
        top: -13px;
        opacity: 0.4;mix-blend-mode: luminosity;pointer-events: none;
    }
    .rope{
        right: 0;
        bottom: -8px;
        opacity: 0.4;pointer-events: none;mix-blend-mode: luminosity;
    }
}

@media (min-width:992px) {
    .header__wrapper {
        
        .title {
            width: calc(100% + 5rem);
        }
    }
}

@media (max-width:991px) {
    .header__wrapper {
     
        .container__wraper {
            padding: 5rem 0rem;
        }
    }
}

@media (max-width:575px) {
    .header__wrapper {
        .display-4 { font-size: 1.5rem;line-height: 1.2; }

        .container__wraper {
            margin-top: 4.9rem;
          }
    }
}
@media (max-width:575px) {
   
    // .fs-2, .fs-3 { font-size: 1.25rem !important;line-height: 1.2; } 
    .lead { font-size: 1rem !important;line-height: 1.2; 
                margin-bottom: .5rem !important;
    } 
} 
 
// @media (max-width:575px) {
//     .fs-1{
//         font-size: 1.5rem !important;
         
//     } 

// }
 
.servicesCarousel .owl-stage-outer {
    height: calc(100% + 20px);
    margin: -7px;
    padding: 7px;
    width: calc(100% + 20px);
}

.service__card{
    border: 1px solid rgba(112, 112, 112, 0.1);
    box-shadow: 0px 6px 9px #00000019;
    border-radius: 25px;
    margin-bottom: .75rem;
    .title__box{
        min-height: 16.562rem;
    } 
    .title { min-height: 3rem; }
    .desc { max-height: 15rem;overflow-y: auto; }
}

.servicesCarousel {
    .owl-stage {
        display: flex;

        .owl-item {
            display: flex;
        }
    }
}

.feather__caring{
    .patient__thumb {
        width: 4.75rem;
        height: 4.75rem;  
    }
    .circle {
        width: 4.75rem;
        height: 4.75rem;
        border: 1px solid #707070;
        background-color: #fff;
        border-radius: 50%;
    }
    .circle__1{ 
        top: 1.5rem; 
        left: 0;
        z-index: 0;
    }
    .circle__2{ 
        top: 1.5rem;
        left: 58px;
        z-index: 1; 
    }
    .circle__3{ 
        top: 1.5rem;
        left: 117px;
        z-index: 2; 
    }
    .border_right{
        height: 4.5rem;
        border: 1px solid #707070; 
        left: 13.6rem;
        top: 1.62rem;
    }
    .content__position{
        left: 15.37rem;
        top: 2.62rem;
    }
    .care__card{
        border: 1px solid #707070;
        border-radius: 38px;
        overflow: hidden;
    }
}

.blog__wraper{
    .blog__card{
        background-color: #fff;
        border: 1px solid #C4C4C4;

        .title {
            a {
                color: var(--primary);

                &:hover {
                    text-decoration: underline;color: var(--dark);
                }
            }
        }
    }
}


.plaholder__testi{

    .position__img{
        min-height: 40rem;
       
        border-radius: 2.68rem;
        .testi__box{
            border-radius: 2.68rem;
            padding: 37px 44px 48px 47px;

            .author__box img {
                width: 6rem;height: 6rem;
            }
        } 
    }
}
 

@media (max-width: 575px) {
    .plaholder__testi .position__img .testi__box {
        border-radius: 2.68rem;
        padding: 20px 15px 28px 15px;

        .author__box img {
            width: 5rem;height: 5rem;
        }
    }
}


.testimonialSlider {
    .owl-dots {
        text-align: left;
        .owl-dot {
           border: 1px solid var(--white) !important; 
            background-color: var(--white) !important;
    
            &.active {
                width: 60px;
                background-color: var(--white) !important;border-color: var(--white) !important;
                border-radius: 1rem !important;
            }
        }
    }
     
}

.accordion .accordion-item {  

    background-color: #0D679917;   
    border-radius:  43px !important;

    &:not(:last-child) {
        margin-bottom: 1.45rem; 
    }

    .accordion-header{
        background-color: none !important;
    }

    .accordion-button{ 
        border: 0;box-shadow: none !important;min-height: 5rem;
        border-radius:  43px !important;
        background-color: rgba(59, 170, 226, 0.10);   
        font-size: 1.15rem;font-weight: 500;
        padding: 0rem 2rem;
        &:not(.collapsed) {
            color:var(--dark); 
            box-shadow: none !important; 
            background-color: transparent;
            
            &::after{
                background-image: none; 
            }  
        } 
        &::after{
            background-image:none; 
             
        }  
    }
    .accordion-body { 
        padding: 0 2rem 1.5rem;

        p:last-child { margin-bottom: 0; }
    }
}


// ======================

.feather__card{

    padding: 2.35rem 1.75rem;
    border: 1px solid #707070;
    border-radius: 1.5rem;
    transition: all 0.5s ease-in-out;

    &:hover{
        background-color: #0D679917;
    }
}
 
 
.owl-dots {
    text-align: center;padding-top: .5rem;
    .owl-dot {
        width: 13px;height: 13px;border: 1px solid var(--brand) !important;border-radius: 50% !important;
        margin: 4px;background-color: var(--brand) !important;

        &.active {
            width: 60px;
            background-color: var(--secondary) !important;border-color: var(--secondary) !important;
            border-radius: 1rem !important;
        }
    }
}
 